{% extends "layout.html" %}
{% block content %}  
<div class="col-md-12">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Input Formulir</h3>
    </div>
    <div class="panel-body">    
        <div class="row">
            <form role="form" method="post">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Kode Formulir</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-8"> 
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Tanggal</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Calon Siswa</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Kode Sekolah</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nama Sekolah</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Kode Tingkat Studi</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tingkat Studi</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tingkat Kelas</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Uang Gotong Royong</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">Simpan</button>
                        <button type="reset" class="btn btn-sm btn-danger">Batal</button>
                    </div>   
                </div>
            </form>              
        </div>    
    </div>
</div>
</div>
{% endblock %}