{% extends "layout.html" %}
{% block content %}  
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Input SPP</h3>
    </div>
    <div class="panel-body">    
        <div class="row">
            <form role="form" method="post">      
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Kode SPP</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Jenis SPP</label>
                        <select class="form-control" name="cabang">
                            <option value="Bulanan">Bulanan</option>
                            <option value="non-Bulanan">Non-Bulanan</option>
                        </select>
                    </div>
                </div> 
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Nama SPP</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Jumlah</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>COA</label>
                        <input class="form-control" placeholder="Enter text" name="NamaKons" value="{{request.form.NamaKons}}">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">Simpan</button>
                        <button type="reset" class="btn btn-sm btn-danger">Batal</button>
                    </div>   
                </div>
            </form>              
        </div>    
    </div>
</div>
</div>
{% endblock %}